@use "../utils/" as *;

.index {
    width: 95%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__input-converter {
        display: flex;
        gap: 10px;

        background-color: var(--bg-secondary);

        padding: 20px;
        min-height: 400px;

        @include mobile-only {
            flex-direction: column;
        }
    }

    &__input {
        @include input-styling(100%);

        &--color {
            --_color-swatch-display: none !important;

            --_input-color-bg: black;

            background-color: var(--_input-color-bg) !important;
            outline: 2px solid var(--border-color) !important;

            position: relative;
            width: 100%;
            height: 90%;

            min-height: 150px;
        }
    }


    &__label {
        flex: 1;

        display: inline-flex;
        flex-direction: column;
        gap: 10px;
    }


    &__table {
        flex: 1;

        &-header {}

        &-footer {}

        &-body {}

        &-row {}

        &-cell {
            padding: 5px;

            &:nth-child(1) {
                text-decoration: underline;
            }

            &:nth-child(2) {
                background-color: var(--bg-primary);
                border: 2px solid var(--border-color);
                width: 80%;
            }
        }
    }

    &__select-converter {
        position: relative;

        background-color: var(--bg-secondary);
        padding: 20px;
    }

    &__equal-sign {
        font-size: 20px;

        padding-inline: 10px;
    }

    &__input-output-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include mobile-only {
            flex-direction: column;
            gap: 25px;

        }
    }

    &__select {
        @include input-styling(100%);
    }

    &__color-model-container {
        width: 100%;

        display: flex;
    }

    &__select-converter {

        &--label {
            background-color: var(--bg-primary);
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            padding: 15px;

            width: 100%;

            font-weight: 700;
            font-size: 19px;

            text-align: center;
        }

        &--inputs {
            display: flex;
        }

        &--input {
            background-color: var(--input-bg);
            text-align: center;
        }

        &--select {
            background-color: var(--bg-primary);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &--container {
            overflow: hidden;

            width: 100%;

            border: 2px solid var(--border-color);
            border-radius: var(--border-radius);
        }

        &--input-container {}

        &--output-container {}

        &--output {
            display: inline-block;
            padding: 15px;
            min-height: 52px;

            width: 100%;

            background-color: var(--input-bg);

            text-align: center;
        }


        &--result-title {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            padding: 15px;

            width: 100%;

            background-color: var(--bg-primary);

            text-align: center;
        }
    }
}